<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p>EJS Welcome to <%= message %></p>
    <p>not a props: <%= locals.name %></p>
    <div>
      <% if (isMe) { %>
        <a href="#">@提到我的(3)</a>
      <% } else { %>
        <button>关注</button>
      <% } %>
    </div>
  </body>
</html>
